<ion-list>
        
    <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>
            NSFW
        </ion-label>
        <ion-toggle [(ngModel)]="nsfwSub" (ionChange)="setNsfwSub()"></ion-toggle>
    </ion-item> 

    <ion-item>
        <ion-icon name="resize" slot="start"></ion-icon>
        <ion-label position="floating">Gallery size</ion-label>
        <ion-select [(ngModel)]="gallerySize" (ionChange)="setGallerySize()" interface="popover">
            <ion-select-option value="small">small</ion-select-option>
            <ion-select-option value="medium">medium</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-icon name="volume-mute" slot="start"></ion-icon>
        <ion-label>
            Videos are muted
        </ion-label>
        <ion-toggle [(ngModel)]="muted" (ionChange)="changeMuted()"></ion-toggle>
    </ion-item>

</ion-list>
