<ion-grid *ngIf="gallerySize==='small'">
    <ion-row>
        <ion-col
            *ngFor="let media of redditService.mediaList"
            size-xs="4"
            size-sm="2"
            size-md="2"
            size-lg="1"
        >
            
            <div 
                [ngStyle]="{
                    backgroundImage: 'url(' + media.thumbUrl + ')',
                    backgroundRepeat: 'no-repeat',
                    backgroundSize: 'cover',
                    height: '100px'
                }"
                [routerLink]="['/image-viewer', media.mediaUrl, media.title ]">
            </div>

        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid *ngIf="gallerySize==='medium'">
        <ion-row>
            <ion-col
                *ngFor="let media of redditService.mediaList"
                size-xs="6"
                size-sm="4"
                size-md="3"
                size-lg="2"
            >
                
                <div 
                    [ngStyle]="{
                        backgroundImage: 'url(' + media.thumbUrl + ')',
                        backgroundRepeat: 'no-repeat',
                        backgroundSize: 'cover',
                        height: '150px'
                    }"
                    [routerLink]="['/image-viewer', media.mediaUrl, media.title ]">
                </div>
    
            </ion-col>
        </ion-row>
    </ion-grid>

<ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
